.contact {
    color: var(--text-color);
    margin: 5em auto;
    width: min(100%, 700px);
}

.contact__title {
    color: var(--text-color);
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.contact__list {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 1em;
}

.contact__link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--background-color);
    padding: 1em;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 1em;
    border: 2px solid var(--stroke-color);
}

.contact__link > .link__arrow {
    margin-left: auto;
}

@media screen and (min-width: 1366px) {
    .contact__list:hover {
        .contact__link {
            background-color: var(--bg-color);
            opacity: 0.5;
            transition: opacity .3s;
        }
        .contact__link:hover {
            background-color: var(--hover-hide);
            opacity: 1;
        }
    }
}
