.cabecalho {
    background-color: var(--preto);
    padding: 0 1em;
}

.cabecalho__lista {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cabecalho__menu__botao, 
.cabecalho__lightdark__botao,
.cabecalho__link{
    background-color: transparent;
    border: none;
    padding: 0.50em;
}