.header {
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    background: var(--background-blur);
    backdrop-filter: blur(5px);
    z-index: 10;
    padding: 0 2em;
}

.header__logo {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--fonte-logo);
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em 0;
}

.header_link {
    display: none;
}

.header__lista {
    display: none;
}

.header__nav {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.header__menu__botao, 
.header__lightdark__botao{
    background-color: transparent;
    border: none;
    padding: 0.50em;
    transition: 1s;
    cursor: pointer;
}

@media screen and (min-width: 756px) {
    .header__logo {
        font-size: 34px;
    }
    
    .header__lista {
        display: flex;
    }

    .header__menu__botao {
        display: none;
    }

    .header__link {
        text-decoration: none;
        padding: 1em;
        color: var(--text-color);
        font-family: var(--fonte-principal);
        font-size: 16px;
        position: relative;
    }
    
    .header__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--text-color);
        transition: width 0.2s;
    }
    
    .header__link:hover::after {
        width: 100%;
    }
}

@media screen and (min-width: 1366px) {
    .header__nav {
        width: min(100%, 1082px);
    }
}