.cabecalho {
    background-color: var(--preto);
    position: sticky;
    top: 0;
    background: rgba(14, 14, 14, 0.60);
    backdrop-filter: blur(5px);
}

.cabecalho__logo {
    color: var(--branco);
    text-decoration: none;
    font-family: var(--fonte-logo);
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em 0;
}

.cabecalho__lista {
    display: none;
}

.cabecalho__link {
    text-decoration: none;
    padding: 1em;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.cabecalho__nav {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: min(100%, 700px);
}

.cabecalho__menu__botao, 
.cabecalho__lightdark__botao{
    background-color: transparent;
    border: none;
    padding: 0.50em;
}

@media screen and (min-width: 756px) {
    .cabecalho__logo {
        font-size: 34px;
    }
    
    .cabecalho__lista {
        display: flex;
    }

    .cabecalho__menu__botao {
        display: none;
    }

    .cabecalho__nav {
        width: 80%
    }
}

@media screen and (min-width: 1366px) {
    .cabecalho__nav {
        width: 60%;
    }
}