.sobre {
    color: var(--text-color);
    margin: 5em auto;
    width: min(100%, 700px);
    flex-direction: column;
    display: flex;
    gap: 0.5em;
}

.sobre__titulo {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 500;
}

.sobre__subtitulo {
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 300;
}

.sobre__imagens {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    justify-content: center;
    margin: 1em 0;
}

.imagem {
    max-width: 100%;
}

/* teste da função para aumentar a imagem -> fazer com js */
    /* .sobre__imagens:hover {
        .imagem{
        width: 20%;
    }
    .imagem:hover{
        width: 100%;
    }
} */

.imagem1 {
    justify-self: end;
}

.imagem2 {
    align-self: end;
}

.imagem3 {
    justify-self: end;
}

.sobre__texto__titulo {
    display: none;
}

.sobre__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 0;
    letter-spacing: 0.8px;
    line-height: 130%;
}

@media screen and (min-width: 1366px) {
    .imagem2, .imagem3 {
        display: block;
    }

    .sobre__titulo {
        font-size: 26px;
    }

    .sobre__subtitulo {
        font-size: 18px;
    }

    .sobre__caixa {
        display: flex;
        width: min(100%, 700px);
        margin: 0 auto;
    }

    .sobre__texto__titulo {
        display: block;
        padding: 0.5em;
        margin: 1em;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 300;
        opacity: 0.5;
    }

    .sobre__texto {
        font-size: 16px;
    }
}

